# Ignore Python build artifacts.

MANIFEST
*.egg-info/
*.pyc
*.pyo


# Ignore virtualenv environments.

venv*/


# Ignore C++ build artifacts.

*.o
*.a
*.so
*.dll


# Ignore settings for various IDEs.

.idea/
.project/
.pydevproject/
nbproject/


# Ignore OS metadata files.

.DS_Store
